<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Bond Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="display-1" align="center"> Election Bond Details</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 bg-success h1" align="center" > <a href="/search">Election Bond Search</a> </div>
            <div class="col-lg-4 bg-warning h1" align="center"> <a href="/party">Party Bonds  </div>
            <div class="col-lg-4 bg-info h1" align="center"> <a href="/company">Purchaser Bond </a></div>
    </div>
    </div>
</body>
</html>

